.loading_posts {
  position: fixed;
  inset: 0;
  margin: 100px auto auto auto;
  width: 200px;
  height: 200px;
}
.posts_heading {
  font-weight: 600;
  font-size: 3rem;
  padding: 20px;
  margin-bottom: 20px;
}
