.admin_content {
  margin-top: 50px;
  padding: 50px 16px 50px 20px;
}
.admin_content h2 {
  padding: 10px 0;
  font-size: 2.6rem;
  font-weight: 600;
}
.admin_content h3 {
  padding: 16px 0;
  font-size: 1.8rem;
  font-weight: 600;
}
.admin_content p {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #7d78786e;
  color: var(--text-color);
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 8px;
  transition: background-color 0.2s linear;
}
.admin_content p:hover {
  background-color: #95919122;
  cursor: pointer;
}
