.title {
  color: #ff5b2e;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.16;
  margin: 1.2rem 0;
  text-align: center;
  font-family: Poppins, sans-serif;
}
.payment {
  color: #000958;
  background-clip: text;
  background: linear-gradient(45deg, #ff6b6b, #0400ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.desc {
  text-align: center;
}

.setup_router {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  text-align: center;
}

.setup_router h2 {
  padding: 40px 0;
  text-align: left;
  font-size: 2.6rem;
  font-weight: 600;
  margin-top: 2rem;
}
.router_img {
  width: 80%;
  margin: auto;
}
