.logo {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  color: var(--btn-link-text-color);
  user-select: none;
}

.logo img {
  border-radius: 999px;
}

.small img {
  width: 32px;
  height: 32px;
}

.medium img {
  width: 50px;
  height: 50px;
}

.large img {
  width: 70px;
  height: 70px;
}

.small span {
  font-size: 1.4rem;
}

.medium span {
  font-size: 1.8rem;
}

.large span {
  font-size: 2.2rem;
}
