.nav {
  display: flex;
  justify-content: center;
  flex: 1;
  width: 100%;
}
.navlist {
  display: flex;
}

.item {
  margin: 0;
}
.link {
  padding: 10px;
  overflow: hidden;
  white-space: nowrap;
}
